
.wrapperForWatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bodyClock {
    border: 1px solid gold;
    width: 500px;
    height: 230px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.buttons{
    display: flex;
    gap: 20px
}



.numbers{
    color: seashell;
    font-size: 100px;
    text-transform: uppercase;
}

.colon{
    color: seashell;
    font-size: 90px;
}

.button:hover {
    color: gold;
    cursor: pointer;
}

.activeTime{
    color: gold;
}
