
.wrapperForWatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bodyClock {
    border: 1px solid gold;
    width: 500px;
    height: 230px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.buttons{
    display: flex;
    gap: 40px
}

.numbers{
    color: seashell;
    font-size: 100px;
    text-transform: uppercase;
}

.colon{
    color: seashell;
    font-size: 90px;
}

.button:hover {
    color: gold;
    cursor: pointer;
}

.activeTime{
    color: gold;
}


@media (min-width: 480px) and (max-width: 600px){
    .bodyClock{
        width: 400px;
        height: 190px;
    }
    .numbers{
        color: seashell;
        font-size: 80px;
        text-transform: uppercase;
    }
}


@media (min-width: 360px) and (max-width: 480px){
    .bodyClock{
        width: 290px;
        height: 160px;
        margin-bottom: 100px;
    }
    .numbers{
        color: seashell;
        font-size: 50px;
        text-transform: uppercase;
    }

    .buttons{
        display: flex;
        gap: 10px
    }
}