
/*.bodyClock{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    border-radius: 100%;*/
/*    position: relative;*/
/*    --rotation: 0;*/
/*    transform: rotate(var(--rotation));*/
/*    box-shadow: 10px 0px 50px 10px #fe75fe, 0  0 25px 25px #7a04eb;*/
/*    background-color: #120458;*/
/*}*/

.moonEclipse {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: relative;
    --rotation: 0;
    transform: rotate(var(--rotation));
    box-shadow: 10px 0px 50px 10px #fe75fe, 0  0 25px 25px #7a04eb;
    background-color: #120458;
}

.sunrise{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: relative;
    --rotation: 0;
    transform: rotate(var(--rotation));
    box-shadow: 10px 0px 50px 10px #fad8d0, 0  0 25px 25px #f64c0a;
    background-color: #ffca1f;
}




.boxLineHour{
    height: 300px;
    position: absolute;
    top: 103px;
    left: 252px;

}

.lineHour{
    width: 7px;
    height: 150px;
    background-color:  #ff00a0;;
    border-radius: 90px;

}
.boxLineMinute {
    height: 300px;
    position: absolute;
    top: 105px;
    left: 255px;
}
.lineMinute {
    width: 3px;
    height: 60%;
    background-color:  #ff00a0;;
    border-radius: 90px;
}


.boxLineSecond{
    height: 210px;
    position: absolute;
    top: 150px;
    left: 255px;

}
.lineSecond{
    width: 2px;
    height: 50%;
    background-color: #ff124F;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  #ff00a0;
    position: absolute;
    top: 245px;
    left: 245px;
}

.number_className {
    color: #fe75fe;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    font-family:  'Magneto';
}


/*!*"Bell MT" *!  Magneto*/
.numberClock_1{
    top: 40px;
    right: 130px;

}
.numberClock_2{
    top: 125px;
    right: 45px;
}

.numberClock_3{
    top: 235px;
    right: 10px;
}
.numberClock_4{
    top: 345px;
    right: 45px;
}
.numberClock_5{
    top: 430px;
    right: 130px;
}
.numberClock_6{
    bottom: 10px;
    left: 240px;
}
.numberClock_7{
    top: 430px;
    left: 130px;
}

.numberClock_8{
    top: 345px;
    left: 50px
}

.numberClock_9{
    top: 235px;
    left: 10px
}

.numberClock_10{
    top: 125px;
    left: 45px
}
.numberClock_11{
    top: 40px;
    left: 130px
}
.numberClock_12{
    top: 10px;
    left: 235px
}

/*\ place for styles's Storybook*/