.wrap{

}

.select {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #5d94ff;
    z-index: 100;
}

.moonEclipse {
    box-shadow: 10px 0px 50px 10px #fe75fe, 0  0 25px 25px #7a04eb;
    background-color: #120458;
}

 /*Styles Sunrise*/
.sunrise{
    --rotation: 0;
    transform: rotate(var(--rotation));
    box-shadow: 10px 0px 50px 10px #fad8d0, 0  0 25px 25px #f64c0a;
    background-color: #ffca1f;
}
.sunrise .point{
    background-color: #fff69f;
}
.sunrise .lineHour{
    /*background-color: #a15501;*/
    background-color: #fff69f;
}
.sunrise .lineMinute{
    background-color: #fff69f;
}
.sunrise .number_className{
    color: #351409;
    font-family: Libre Baskerville;
}
.sunrise .lineSecond{
    background-color: #333333;
}

/*Styles fullMoon*/
.fullMoon{
    box-shadow: 10px 0px 50px 10px #a4e1ff, 0  0 25px 25px #a4e4ff;
    background-color: #e0e8ff;
}

.fullMoon .number_className{
    font-family: Dancing Script;
    color: #3d898d;
}
.fullMoon .point{
    background-color: #2f404d;
}
.fullMoon .lineHour{
    /*background-color: #a15501;*/
    background-color: #2f404d;
}
.fullMoon .lineMinute{
    background-color: #2f404d;
}
.fullMoon .lineSecond{
    background-color: #85ebd9;
}


.commonStyles {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: relative;
}


/*Clock face*/
.boxLineHour{
    height: 300px;
    position: absolute;
    top: 103px;
    left: 252px;
}
.lineHour{
    width: 7px;
    height: 150px;
    background-color:  #ff00a0;;
    border-radius: 90px;

}
.boxLineMinute {
    height: 300px;
    position: absolute;
    top: 105px;
    left: 255px;
}
.lineMinute {
    width: 3px;
    height: 60%;
    background-color:  #ff00a0;;
    border-radius: 90px;
}
.boxLineSecond{
    height: 210px;
    position: absolute;
    top: 150px;
    left: 255px;
}
.lineSecond{
    width: 2px;
    height: 50%;
    background-color: #ff124F;
}
.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  #ff00a0;
    position: absolute;
    top: 245px;
    left: 245px;
}
.number_className {
    color: #fe75fe;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    font-family:  'Magneto';
}


/*!*"Bell MT" *!  Magneto*/
.numberClock_1{
    top: 40px;
    right: 130px;
}
.numberClock_2{
    top: 125px;
    right: 45px;
}
.numberClock_3{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.numberClock_4{
    top: 345px;
    right: 45px;
}
.numberClock_5{
    top: 430px;
    right: 130px;
}
.numberClock_6{
    transform: translateX(-50%);
    bottom: 5px;
    left:  51%;
}
.numberClock_7{
    top: 430px;
    left: 130px;
}
.numberClock_8{
    top: 345px;
    left: 50px
}
.numberClock_9{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.numberClock_10{
    top: 125px;
    left: 45px
}
.numberClock_11{
    top: 40px;
    left: 130px
}
.numberClock_12{
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

 /*576*/
@media screen and (max-width: 780px){
    .commonStyles {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        position: relative;
    }
    .number_className {
        color: #fe75fe;
        font-size: 25px;
    }

    .numberClock_1 {
        top: 22px;
        right: 75px;
    }
    .numberClock_2{
        top: 70px;
        right: 25px;
    }
    .numberClock_4{
        top: 200px;
        right: 25px;
    }
    .numberClock_5{
        top: 245px;
        right: 70px;
    }
    .numberClock_7{
        top: 250px;
        left: 75px;
    }
    .numberClock_8{
        top: 200px;
        left: 30px;
    }
    .numberClock_10{
        top: 70px;
        left: 25px;
    }
    .numberClock_11{
        top: 20px;
        left: 75px;
    }
    .containerLines{
        position: absolute;
        top: -105px;
        right: 400px
    }
    /*boxLineHour heigh 230*/
    .boxLineHour{
        height: 230px;
        position: absolute;
        top: 135px;
        left: 258px;
    }
    .lineHour{
        width: 6px;
        height: 120px;
        background-color:  #ff00a0;;
        border-radius: 90px;
    }

    .boxLineMinute {
        height: 250px;
        position: absolute;
        top: 130px;
        left: 250px;
    }

    .lineMinute {
        width: 3px;
        height: 130px;
        background-color:  #ff00a0;;
        border-radius: 90px;
    }

    .point {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff00a0;
        position: absolute;
        top: 245px;
        left: 245px;
    }
}
