.wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #acc5ea;
    position: relative;
}
.switcher{
    position: absolute;
    left: 100px;
    top: 50px;
}


.select{
    position: absolute;
    color: #5d94ff;
    right: 500px;
}